<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>商品新規登録</h2>

        <%= form_with model: @item, url: admin_item_path, method: :post,  do |f| %>

        <div class="form-group">
          <label for="item_image">商品画像</label>
          <%= f.file_field :main_image, id: :main_image %>
          <%= image_tag @item.main_image.url, id: :img_prev if @item.main_image? %>
        </div>

        <tr>
          <td><%= f.label :商品名 %></td>
          <%= f.text_field :name, autofocus: true, id:"item_name", class: "form-control" %>
        </tr>

        <tr>
          <td><%= f.label :商品説明 %></td>
          <%= f.text_area :introduction %>
        </tr>

        <tr>
          <td><%= f.label :ジャンル %></td>
          <%= f.text_field :item_genre, name="item[item]" id="item_genre" %>
        </tr>

        <tr>
          <td><%= f.label :税抜価格 %></td>
          <%= f.text_field :price %>円
        </tr>

        <tr>
          <td><%= f.label :販売ステータス %>
          <%= f.select :is_active, [["販売中", "1"]["販売停止中", "0"]] %>
        </tr>

        <div class="item-action">
          <%= f.submit "新規登録", class: "btn btn-secondary col-xs-12" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
