<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 ">
      <h2>注文情報入力</h2>

      <%= form_with model: @orders, url: orders_confirm_path, method: :post do |f| %>

        <table class="table table-borderless">
          <tr>
            <strong><%= f.label :支払方法 %></strong>
            <td><%= f.radio_button :payment_method, true %><%= f.label :クレジットカード %></td>
            <td><%= f.radio_button :payment_method, true %><%= f.label :銀行振込 %></td>
          </tr>

          <tr>
            <td><strong><%= f.label :お届け先 %></strong></td>
            <td><%= f.radio_button :address, true %><%= f.label :ご自身の住所 %>
                〒<%= @customer.postal_code %>
                　<%= @customer.address %>
                　<%= @customer.last_name %><%= @customer.first_name %>
            </td>



            <td>新しいお届け先</td>
            <td></td>
          </tr>
        </table>

        <div class="action-group">
          <%= f.submit "確認画面へ進む", class: "btn btn-default btn-lg btn-info"%>
        </div>
      <% end %>
    </div>
  </div>
</div>