<div class="container">
  <div class="row">
      <!--ストロングタグで作成する-->
    <div class="col-md-12">
      <h1><strong>商品一覧</strong>(全<%= @item_count %>件)</h1>
    </div>
    <% @items.each do |item| %>
      <div class="col-md-4">
      <%= link_to item_path(item.id) do %>
        <p><%= image_tag item.get_image(200,200)%></p>
       <% end %>
        <p><%= item.name %></p>
        <p><%= item.price %></p>
      </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>

